/*$bg: #F8E9DD;
$red: #EC755D;
$cyan: #76B5BC;
$card-bg: #FFFBF6;
$dark-brown: #382314;
$heading: #242D52;
$footer-bg: #1D1E25;*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: hsl(32deg, 100%, 85%);
}

.projects-section__card, .projects-section h2 {
  width: 90%;
  margin: 0 auto;
}

body {
  min-width: 23.4375rem;
}

p {
  letter-spacing: 0.0625rem;
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

.nav-list {
  display: flex;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.project-btn {
  width: 4rem;
  height: 5.625rem;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  font-size: 3.5rem;
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-btn:hover, .project-btn:focus {
  transform: scale(1.5);
}
.project-btn:active {
  transform: translateX(40px);
}

.polygon-begin {
  background-color: hsl(0deg, 5%, 12%);
  -webkit-clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
}

.polygon-end {
  -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
}

.polygon-begin,
.polygon-end {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, #ffffff 0%, #ffa0a0 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, #0083af 100%);
}

.purple {
  background: linear-gradient(to right, hsl(192deg, 60%, 50%), hsl(284deg, 40%, 40%));
}

.pastel-purple {
  background: linear-gradient(to right, hsl(83.72deg, 47.9%, 85.92%), #dadaff);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  will-change: transform, opacity;
  font-weight: 700;
  color: hsl(0deg, 0%, 20%);
  text-transform: uppercase;
  font-size: 0.875rem;
}

.container {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5625rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  will-change: width, height;
  margin: 0 auto;
}

.skill-btn {
  border-radius: 0.5rem;
  -webkit-animation: ripple 1.5s linear infinite;
          animation: ripple 1.5s linear infinite;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  font-weight: 700;
}
.skill-btn::before {
  content: "Click me!";
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  color: #fff;
}

.page-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: none;
  background-color: hsl(29deg, 75%, 60%);
  color: hsl(0deg, 0%, 100%);
  font-size: 2rem;
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-btn:hover, .page-btn:focus {
  background-color: transparent;
  transform: scale(1.5);
  color: hsl(29deg, 75%, 60%);
}
.page-btn:active {
  transform: translateY(5px);
}

.intro-section__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.intro-section__content h1,
.intro-section__content p {
  color: hsl(0deg, 0%, 20%);
}
.intro-section__content .profession-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  width: 100%;
}
.intro-section__content .profession-container p:nth-child(2) {
  font-weight: 700;
  color: hsl(284deg, 40%, 40%);
}
.intro-section__content .nav-social {
  width: 50%;
}
.intro-section__content .nav-social__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}
.intro-section .ghost-blurb span {
  position: absolute;
  font-weight: 700;
  color: hsl(0deg, 0%, 20%);
  font-size: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
.intro-section .ghost-blurb span::before {
  content: "";
  position: absolute;
  left: 90%;
  top: 3.1875rem;
  transform: rotate(30deg);
  width: 0;
  height: 0;
  border-top: 0.8125rem solid transparent;
  border-left: 1.625rem solid #fff;
  border-bottom: 0.8125rem solid transparent;
}

.about-section {
  width: 100%;
  height: 100%;
}
.about-section__card {
  width: 100%;
  height: 100%;
  background-color: hsl(34deg, 100%, 75%);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.about-section__card h2,
.about-section__card h3 {
  color: hsl(0deg, 0%, 20%);
}
.about-section__card h3 {
  text-align: center;
}
.about-section__card p {
  color: hsl(0deg, 0%, 50%);
  line-height: 2rem;
}
.about-section__card .page-btn {
  background-color: hsl(284deg, 40%, 40%);
  margin: 0 auto;
}
.about-section__card .page-btn:hover {
  color: hsl(284deg, 40%, 40%);
}

.skill-section__card {
  height: auto;
}

.projects-section {
  width: 100%;
  height: 100%;
}
.projects-section h2 {
  padding: 2rem 0;
  color: hsl(34deg, 100%, 75%);
}
.projects-section__card {
  align-items: center;
}
.projects-section__card h3 {
  color: hsl(29deg, 75%, 60%);
  font-family: "Montserrat", sans-serif;
}
.projects-section__card p {
  color: #fff;
}
.projects-section__card a {
  text-align: center;
}
.projects-section__images {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 375px) {
  .intro-section .ghost-blurb span {
    right: 30%;
    top: 0;
  }
  .intro-section__content {
    height: 100%;
    text-align: left;
    align-items: start;
  }
  .intro-section__content h1 {
    font-size: 4.625rem;
  }
  .intro-section__content p {
    font-size: 1.375rem;
  }
  .intro-section__content .nav-social {
    width: 100%;
  }
  .intro-section__content .nav-social__list {
    gap: 2rem;
  }
  .about-section__card {
    gap: 2rem;
    justify-content: flex-start;
  }
  .about-section__card h2 {
    font-size: 3rem;
  }
  .about-section__card h3 {
    font-size: 2.375rem;
    text-align: center;
  }
  .about-section__card .projects-blurb {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}
.skill-section {
  width: 100%;
}
.skill-section__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-section h2 {
  font-size: 3rem;
}
.projects-section__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
}
.projects-section__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media only screen and (min-width: 540px) {
  .projects-section__card {
    align-items: center;
  }
  .projects-section__images {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .project-btn {
    font-size: 6rem;
  }
  .intro-section__content h1 {
    font-size: 5.25rem;
  }
  .intro-section__content p {
    font-size: 2.375rem;
  }
  .about-section__card h2 {
    font-size: 4.625rem;
  }
  .about-section__card h3 {
    text-align: center;
  }
  .about-section__card p {
    font-size: 1.5rem;
  }
  .about-section__card .projects-blurb {
    font-size: 1.875rem;
  }
  .projects-section h2 {
    width: 100%;
    font-size: 4.625rem;
    padding: 2rem 0 0 2rem;
  }
  .projects-section__images {
    width: 50%;
  }
  .projects-section__container {
    margin-top: 0;
    padding-bottom: 3rem;
    gap: 1.5rem;
  }
  .projects-section__card {
    align-items: center;
  }
  .projects-section__card h3 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 900px) {
  .projects-section__images {
    width: 100%;
  }
}
@media only screen and (min-width: 968px) {
  .intro-section__content h1 {
    font-size: 6.25rem;
  }
  .intro-section__content p {
    font-size: 3rem;
  }
  .about-section__card {
    position: relative;
    justify-content: center;
  }
  .about-section__card h3 {
    font-size: 4.625rem;
    width: 50%;
    position: absolute;
    top: 16%;
    left: 55%;
  }
  .about-section__card h3,
.about-section__card .projects-blurb {
    text-align: left;
  }
  .about-section__card p {
    width: 50%;
  }
  .about-section__card .page-btn {
    margin: 0;
  }
  .about-section__card .skill-section__card {
    top: 30%;
    width: 50%;
    position: absolute;
    right: 0;
    left: 50%;
  }
  .projects-section h2 {
    font-size: 4.625rem;
  }
  .projects-section__container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .projects-section__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-section__images {
    width: 80%;
  }
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}/*# sourceMappingURL=index.css.map */