@use "sass:math";
@import "../Global-sass/colors", "../Global-sass/function";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $primary;
}
%width-margin {
  width: 90%;
  margin: 0 auto;
}
body {
  min-width: rem(375);
}

p {
  letter-spacing: rem(1);
}

.nav-list {
  display: flex;
  margin-left: auto;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.project-btn{
    width: 4rem;
    height: rem(90);
    border-radius: 100%;
    border: none;
    background-color: transparent;
    color: hsl(0deg, 0%, 100%);
    font-size: 3.5rem;
    transition: all 250ms linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus{
        transform: scale(1.5);
    }
    &:active{
        transform: translateX(40px);
    }
}

.about-section {
  width: 100%;
  height: 100%;
  &__card {
    h2,
    h3 {
      color: $neutral-2;
    }
    h3 {
      text-align: center;
    }
    p {
      color: $neutral-3;
    }
    .page-btn {
      background-color: $accent-2;
      margin: 0 auto;
      &:hover {
        color: $accent-2;
      }
    }
    width: 100%;
    height: 100%;
    background-color: $secondary-2;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
}

.polygon-begin {
  background-color: hsl(0, 5%, 12%);
  clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
}

.polygon-end {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
}

.polygon-begin,
.polygon-end {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, #ffffff 0%, #ffa0a0 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, #0083af 100%);
}

.purple{
    background: linear-gradient(to right, hsl(192, 60%, 50%), hsl(284, 40%, 40%));
}

.pastel-purple{
    background: linear-gradient(to right, hsl(83.72deg 47.9% 85.92%), #cfcfff);
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(100);
  height: rem(100);
  border-radius: 100%;
  will-change: transform, opacity;
  font-weight: 700;
  color: $neutral-2;
  text-transform: uppercase;
  font-size: rem(14);
}

.container {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(25);
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  will-change: width, height;
  margin: 0 auto;
}

.skill-btn {
  border-radius: rem(8);
  animation: ripple 1.5s linear infinite;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  font-weight: 700;
  &::before {
    content: "Click me!";
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    color: #fff;
  }
}

.page-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: none;
  background-color: $secondary;
  color: hsl(0, 0%, 100%);
  font-size: rem(32);
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.5);
    color: $secondary;
  }
  &:active {
    transform: translateY(5px);
  }
}

.intro-section {
  &__content {
    h1,
    p {
      color: $neutral-2;
    }
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .profession-container {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      width: 100%;
      p {
        &:nth-child(2) {
          font-weight: 700;
          color: $accent-2;
        }
      }
    }
    .nav-social {
      width: 50%;
      &__list {
        display: flex;
        align-items: center;
        margin: 0 auto;
        list-style: none;
      }
    }
  }
  .ghost-blurb {
    span {
      position: absolute;
      font-weight: 700;
      color: $neutral-2;
      font-size: rem(32);
      background: #fff;
      padding: 1rem;
      border-radius: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: 90%;
        top: rem(51);
        transform: rotate(30deg);
        width: 0;
        height: 0;
        border-top: rem(13) solid transparent;
        border-left: rem(26) solid #fff;
        border-bottom: rem(13) solid transparent;
      }
    }
  }
}

.skill-section {
  &__card {
    height: auto;
  }
}

.projects-section {
  width: 100%;
  height: 100%;
  h2 {
    @extend %width-margin;
    padding: 2rem 0;
    color: $secondary-2;
  }
  &__card {
    @extend %width-margin;
    h3 {
      color: $secondary;
    }
    p {
      color: #fff;
    }
  }
  &__images {
    width: 100%;
    height: 100%;
    border-radius: rem(8);
  }
}

@media only screen and (min-width: 375px) {
  .intro-section {
    .ghost-blurb {
      span {
        right: 30%;
        top: 0;
      }
    }
    &__content {
      height: 100%;
      text-align: left;
      align-items: start;
      h1 {
        font-size: rem(74);
      }
      p {
        font-size: rem(24);
      }
      .nav-social {
        width: 100%;
        &__list {
          gap: 2rem;
        }
      }
    }
  }

  .about-section {
    &__card {
      gap: 2rem;
      justify-content: flex-start;
      h2 {
        font-size: rem(48);
      }
      h3 {
        font-size: rem(38);
        text-align: center;
      }
      p {
        line-height: rem(28);
      }
      .projects-blurb {
        width: 100%;
        font-size: rem(24);
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

.skill-section {
  width: 100%;
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: rem(48);
  }
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
    .project-btn{
        font-size: 6rem;
    }
  .intro-section {
    &__content {
      h1 {
        font-size: rem(84);
      }
      p {
        font-size: rem(38);
      }
    }
  }

  .about-section {
    &__card {
      h2 {
        font-size: rem(74);
      }
      h3 {
        text-align: center;
      }
      p {
        font-size: rem(24);
      }
      .projects-blurb {
        font-size: rem(30);
      }
    }
  }
  .projects-section{
    h2{
        width: 100%;
        font-size: rem(74);
       padding: 2rem 0 0 2rem;
    }
    &__images{
        width: 50%;
    }
    &__container{
        margin-top: 0;
        padding-bottom: 3rem;
        gap: 1.5rem;
    }
    &__card{
        align-items: center;
    }
  }
}

@media only screen and (min-width: 968px) {
  .intro-section {
    &__content {
      h1 {
        font-size: rem(100);
      }
      p {
        font-size: rem(48);
      }
    }
  }

  .about-section {
    &__card {
      h3 {
        font-size: rem(48);
        width: 50%;
        position: absolute;
        top: 24%;
        left: 65%;
      }
      h3,
      .projects-blurb {
        text-align: left;
      }
      p {
        width: 50%;
      }
      .page-btn {
        margin: 0;
      }
      position: relative;
      justify-content: center;
      .skill-section {
        &__card {
          top: 40%;
          width: 50%;
          position: absolute;
          right: 0;
          left: 50%;
        }
      }
    }
  }

  .projects-section {
    h2 {
      font-size: rem(74);
    }
    &__container {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__images {
      width: 80%;
    }
  }
}

$color: #fff;

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3), 0 0 0 1px rgba($color, 0.3),
      0 0 0 3px rgba($color, 0.3), 0 0 0 5px rgba($color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($color, 0.3), 0 0 0 4px rgba($color, 0.3),
      0 0 0 20px rgba($color, 0), 0 0 0 30px rgba($color, 0);
  }
}
