@use "sass:math";
@import "../Global-sass/colors", "../Global-sass/function",
  "../Global-sass//placeholders";
@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Montserrat:wght@400;700&display=swap");

* {
  @extend %base;
}

html,
body,
#root {
  @extend %root;
}

body {
  min-width: rem(375);
}

p {
  letter-spacing: rem(1);
  font-family: "Montserrat", sans-serif;
  line-height: rem(28);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arapey", serif;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 80%;
  z-index: 10;
  img {
    width: 100%;
    height: 100%;
  }
}

.project-btn {
  width: 4rem;
  height: rem(90);
  border-radius: 100%;
  border: none;
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  font-size: 3.5rem;
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
  &:active {
    transform: translateX(40px);
  }
}

.polygon-top-half {
  background-color: black;
  clip-path: polygon(0% 0, 100% 0, 100% 50%, 50% 50%, 0% 50%);
}

.polygon-begin {
  background-color: hsl(0, 5%, 12%);
  clip-path: polygon(0% 0, 70% 0, 50% 100%, 0% 100%);
}

.polygon-end {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 50% 100%);
}

.polygon-begin,
.polygon-end {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: $pink;
}

.teal {
  background: $teal;
}

.purple {
  background: $purple;
}

.pastel-purple {
  background: $pastel-purple;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(100);
  height: rem(100);
  border-radius: 100%;
  will-change: transform, opacity;
  font-weight: 700;
  color: $neutral-2;
  text-transform: uppercase;
  background: transparent;
  border: rem(2) solid $neutral-2;
  font-size: rem(14);
}

.container {
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(25);
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  will-change: width, height;
  margin: 0 auto;
}

.skill-btn {
  border-radius: rem(8);
  animation: ripple 1.5s linear infinite;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  font-weight: 700;
  width: rem(125);
  height: rem(125);
  border-radius: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &:hover, &:focus{
   transform: scale(1.1);
   font-size: 1.2rem;
  }
  &:active{
    transform: translateY(10px);
  }
  &::before {
    content: "Click me!";
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    right: 0;
    left: 0;
    color: #fff;
  }
}

.skill-btn-full {
  width: 100%;
  height: 100%;
}

.project-page-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: none;
  background-color: hsl(29deg, 75%, 60%);
  color: hsl(0deg, 0%, 100%);
  font-size: 2rem;
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  left: 9.5%;
  top: 80%;
  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.5);
    color: $secondary;
  }
  &:active {
    transform: translateY(5px);
  }
}

.page-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: none;
  background-color: $secondary;
  color: hsl(0, 0%, 100%);
  font-size: rem(32);
  transition: all 250ms linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: transparent;
    transform: scale(1.5);
    color: $secondary;
  }
  &:active {
    transform: translateY(5px);
  }
}

.nav-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  &__menu {
    z-index: 10;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: -100%;
    text-align: center;
    transition: all 0.3s linear;
    opacity: 0;
    left: 0;
    position: fixed;
    gap: 2rem;
    height: 100vh;
    background-color: $secondary-2;
    padding-top: 5rem;
    font-size: 2rem;
    justify-content: center;
    li {
      font-family: "Montserrat", sans-serif;
      a{
        transition: all 250ms linear;
        color: $neutral-2;
        &:hover,
        &:focus {
          color: $accent-3;
        }
      }
    }
    &.active {
      opacity: 1;
      top: 0;
      z-index: 3;
    }
  }
}

.intro-section {
  &__content {
    h1,
    p {
      color: $neutral-2;
    }
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
}

.about-section {
  width: 100%;
  height: 100%;
  &__card {
    h2,
    h3 {
      color: $neutral-2;
    }
    h3 {
      text-align: center;
      font-weight: 400;
    }
    p {
      color: $neutral-3;
      line-height: 2rem;
    }
    .page-btn {
      margin: 0 auto;
    }
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
  }
}

.skill-section {
  position: relative;
  &__card {
    height: auto;
  }
}

.projects-section {
  position: relative;
  width: 100%;
  height: 100%;
  h2 {
    @extend %width-margin;
    padding: 1rem 0;
    color: $secondary-2;
  }
  .project-page-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: none;
    background-color: hsl(29deg, 75%, 60%);
    color: hsl(0deg, 0%, 100%);
    font-size: 2rem;
    transition: all 250ms linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    left: 9.5%;
    top: 80%;
  }
  &__card {
    @extend %width-margin;
    h3 {
      color: $secondary;
      font-family: "Montserrat", sans-serif;
    }
    p {
      color: #fff;
    }
    a {
      text-align: center;
    }
    align-items: center;
  }
  &__images {
    width: 100%;
    height: 100%;
    border-radius: rem(8);
  }
}

.contact-section {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    p {
      color: $neutral-3;
    }
    &__mail {
      display: flex;
      align-items: center;
      padding: 2rem 0;
      gap: 2rem;
      flex-direction: column;
      width: 100%;
      &__info {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      h4 {
        text-transform: uppercase;
        letter-spacing: rem(1);
      }
      a {
        color: $neutral;
        button {
          width: rem(150);
          height: rem(36);
          border-radius: rem(24);
          border: none;
          font-size: rem(24);
          text-transform: uppercase;
          background-color: $accent-3;
          color: $primary;
          transition: all 250ms linear;
          &:hover,
          &:focus {
            background: transparent;
            border: rem(1) solid $accent-3;
            color: $accent-3;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer-section {
  @extend %width-margin;
  border-top: 1px solid $neutral;
  &__nav {
    display: flex;
    padding-top: 1rem;
    .attribution {
      h5 {
        font-family: "Montserrat", sans-serif;
      }
    }
    &__list {
      display: flex;
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      li {
        font-family: "Montserrat", sans-serif;
        color: $neutral;
        transition: all 250ms linear;
        a{
          transition: all 250ms linear;
          color: $neutral-2;
          &:hover,
          &:focus {
            color: $accent-3;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .project-page-btn {
    left: 43%;
    top: 92%;
  }

  .container {
    position: static;
  }
  .intro-section {
    .ghost-blurb {
      span {
        right: 30%;
        top: 0;
      }
    }
    &__content {
      height: 80%;
      text-align: center;
      justify-content: center;
      h1 {
        font-size: rem(75);
        text-transform: uppercase;
      }
      p {
        font-size: rem(14);
        text-align: left;
        text-transform: uppercase;
      }
      &__intro {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .trail-text-container {
        display: flex;
        flex-wrap: wrap;
      }
      .nav-social {
        width: 100%;
        &__list {
          gap: 2rem;
        }
      }
    }
  }

  .about-section {
    &__card {
      &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
          font-size: rem(48);
        }
        &__skills {
          padding: 2rem 0;
          .skill-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            h3 {
              font-size: rem(38);
              text-align: center;
            }
          }
        }
      }
    }
  }

  .skill-section {
    width: 100%;
    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    h2 {
      font-size: rem(48);
    }
    &__container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-start;
      gap: 1rem;
      padding-bottom: 3rem;
    }
    &__card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .contact-section {
    &__content {
      width: 90%;
      margin: 0 auto;
      &__btn {
        position: absolute;
        right: 1%;
        top: 125%;
      }
      h3 {
        font-size: rem(85);
        text-transform: uppercase;
        letter-spacing: rem(2);
        color: $neutral-2;
      }
      &__mail {
        position: relative;
      }
    }
  }

  .footer-section {
    &__nav {
      flex-wrap: wrap;
      gap: 3.5rem;
      justify-content: center;
      &__list {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (min-width: 540px) {
  .intro-section {
    &__content {
      .trail-text-container {
        .trail-text {
          &:nth-child(2) {
            padding-left: 5rem;
          }
          &:nth-child(3) {
            padding-left: 10rem;
          }
        }
      }
    }
  }
  .project-page-btn {
    left: 45%;
  }
  .projects-section {
    &__card {
      align-items: center;
    }
    &__images {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav-social {
    &__menu {
      display: none;
    }
    &__list {
      flex-direction: row;
      opacity: 1;
      justify-content: flex-end;
      width: auto;
      padding-top: 0;
      height: auto;
      position: static;
      font-size: 1rem;
      background: transparent;
    }
  }
  .logo {
    width: 30%;
    margin-right: auto;
  }
  .project-btn {
    font-size: 6rem;
  }
  .intro-section {
    &__content {
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: rem(24);
      }
      align-items: center;
    }
  }

  .about-section {
    &__card {
      &__content {
        &__skills {
          .skill-card {
            h3 {
              text-align: center;
              font-size: 4rem;
            }
          }
        }
      }
      h2 {
        font-size: rem(74);
      }
      p {
        font-size: rem(24);
      }
      .projects-blurb {
        font-size: rem(30);
      }
    }
  }
  .projects-section {
    h2 {
      width: 100%;
      font-size: rem(74);
      padding: 2rem 0 0 2rem;
    }
    &__images {
      width: 50%;
    }
    &__container {
      margin-top: 0;
      padding-bottom: 3rem;
      gap: 1.5rem;
    }
    &__card {
      align-items: center;
      h3 {
        font-size: rem(32);
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .nav-social {
    &__list {
      justify-content: space-between;
      width: 30%;
      margin-right: auto;
    }
  }
  .projects-section {
    &__images {
      width: 100%;
    }
  }

  .footer-section {
    &__nav {
      justify-content: space-between;
      gap: 2rem;
      &__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex: 0 0 50%;
      }
    }
  }
}

@media only screen and (min-width: 968px) {
  .project-page-btn {
    left: 48%;
    top: 80%;
  }
  .intro-section {
    &__content {
      height: 85%;
      h1 {
        font-size: 9.5rem;
      }
      p {
        text-align: right;
        width: 70%;
      }
      &__intro {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: auto;
        width: 80%;
      }
    }
  }

  .about-section {
    &__card {
      h3 {
        font-size: rem(74);
      }
      h3,
      .projects-blurb {
        text-align: left;
      }
      p {
        width: 50%;
        font-size: 1.25rem;
      }
      &__content {
        position: relative;
        &__skills {
          position: absolute;
          top: 7em;
          left: 35em;
        }
      }
      .page-btn {
        margin: 2rem 0;
      }
      position: relative;
      justify-content: center;
      .skill-section {
        &__card {
          top: 30%;
          width: 50%;
          position: absolute;
          right: 0;
          left: 50%;
        }
      }
    }
  }

  .projects-section {
    h2 {
      font-size: rem(74);
    }
    &__container {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__images {
      width: 80%;
    }
  }

  .contact-section {
    &__content {
      h3{
        font-size: 8.5rem;
      }
      p{
        width: 50%;
        text-align: right;
        font-size: rem(20);
        margin-left: auto;
      }
      &__btn {
        position: static;
        margin-left: auto;
      }
      &__mail {
        align-items: center;
        h4 {
          font-size: rem(30);
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  .intro-section {
    &__content {
      .trail-text-container {
        .trail-text {
          &:nth-child(2) {
            padding-left: 10rem;
          }
          &:nth-child(3) {
            padding-left: 20rem;
          }
        }
      }
    }
  }

  .about-section {
    &__card {
      &__content {
        &__skills {
          top: 5.5em;
          left: 55em;
        }
      }
    }
  }
  .contact-section {
    &__content {
      justify-content: center;
      h3 {
        font-size: rem(160);
        width: 50%;
      }
      p {
        font-size: 1.15rem;
      }
      &__btn {
        margin-left: auto;
        margin-right: 0;
        margin-top: 1rem;
      }
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3),
      0 0 0 1px rgba($ripple-color, 0.3), 0 0 0 3px rgba($ripple-color, 0.3),
      0 0 0 5px rgba($ripple-color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3),
      0 0 0 4px rgba($ripple-color, 0.3), 0 0 0 20px rgba($ripple-color, 0),
      0 0 0 30px rgba($ripple-color, 0);
  }
}
